.logo-i{
	position: absolute;
	left: 50%;
	&__link{
		display: block;
		margin-left: -50%;
		width: 90px;
		height: 35px;
		background: url(../img/logo-mobile.png) no-repeat;
	}
}
@media (min-width: 992px){
	.logo-i{
		position: relative;
		left: 0;
		&__link{
			width: 131px;
			height: 51px;
			background: url(../img/logo.png) no-repeat;
			margin-left: 0;
		}    	
	}
}